.imageSection {
    position: relative;
}
.rate {
    position: absolute;
    top: 16px;
    left: 16px;
}
button.play-button {
    border: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}
button.play-button i{
    margin-right: 7px;
}
span.reviews {
    color: #ffffff;
    font-size: 14px;
    margin-left: 14px;
}
.imageSection img{
    width: calc(100% + 2px);
    margin: -1px;
    min-height: 25px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.live-left{
    width: 15%;
}
.live-right{
    width: 85%;
}
.live-image img {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 5px -1px rgb(0 0 0 / 50%);
}
.live-content p{
    font-size: 16px;
}
.GTranslator {
    color: #5c7192;
    font-size: 16px;
    margin-left: 18px;
}
.dropdown-toggle::after{
    content: "";
    display: none;
}
button#dropdown-basic {
    border: none;
    background: transparent;
    color: #5c7192;
    padding: 0;
    margin: 0;
    float: right;
    margin-top: -35px;
}
.dropdown-menu.show {
    display: block;
    max-width: 240px;
    width: 100%;
    background: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px -1px rgb(0 0 0 / 50%);
    border-radius: 6px;
    transform:translate(240px, -9px)!important; 
}
button#dropdown-basic:focus{
    outline: none;
    box-shadow: 0px 0px 0px!important;
}
.dropdown-menu *:hover {
    background: none;
}
.dropdown-item{
    font-size: 14px;
    margin-bottom: 10px;
}
.dropdown-item i{
    margin-right: 12px;
    color:#5c7192; 
}
.dropdown-item:last-child{
    margin-bottom: 0px;
}
.dot i{
    font-size: 10px;
}
p{
    margin-bottom: 0px;
}
.just{
    justify-content: space-around;
    color: #6e7187;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}
.live-icon span {
    margin-right: 39px;
}
.live-icon i{
    margin-right: 10px;

}
.live-icon {
    margin-right: 13rem;
}
.h-blue:hover{
    color: #016edc;

}
.h-red:hover{
    color: #d41818;
}
.h-green:hover{
    color: #51b06c;
}
#live{
    background: #d41818;
    color: white;

}
p.share {
    font-size: 15px;
}
p.share1 {
    font-size: 17px;
    margin-top: 27px;
}
.share3{ 
    font-size: 16px;
}
.share3 span{
    color:#000000;
    margin-left: 12px;
}

