body{
    font-family: 'Merriweather Sans', sans-serif;
    font-size:1.3rem;
    background:#f7f8f9;
}
.navigateBar{
    background-color:teal;
    font-family: 'Noto Sans', sans-serif;
}
.nav-item a{
    color:#ffffff;
    padding:0px 16px;
}
.nav-item:last-child a{padding:0px;}
.navLogo{
    width:100px;
}
.navbar-toggler-icon{
    background-image: url('../Images/toggle.jpg');
    background-repeat: no-repeat;
    background-size:contain;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.twtBg, .dropdown-menu {
    background: #BDBDBD;
    box-shadow: 0px 0px 10px -1px rgb(0 0 0 / 80%);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
}
.twtBg *{
    color:#ffffff;
}
img.pp {
    width: 30px;
}
.dropdown-menu *:hover{
    background:#1d9bf0;
    text-decoration:none;
}
.logo{max-width: 30px;}
.collapse .dropdown-menu.show{
    transform: translate(0px, 40px)!important;
    background: #bdbdbd;
}
.mt-5{margin-top: 6rem!important;}
@media (max-width:720px){
    .nav-item a{padding: 0;margin-top:10px;display: block;}
}